fastapi
uvicorn[standard]
sse-starlette
litellm
dotenv
fastmcp
httpx
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-asyncio
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-logging
PyYAML
Jinja2
auth0-fastapi-api
sqlmodel
alembic
asyncpg
